<!DOCTYPE html>
<html>

<head>
  
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
 
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
    
  <title>HealthNexus</title>
  <link rel="icon" type="image/x-icon" href="/images/SimplyVital-logo.jpg">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200&display=swap');
  </style>
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css1/swiper-bundle.min.css">

  <!-- CSS -->
  <link rel="stylesheet" href="/css1/style.css">
  
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700|Roboto:400,700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet" />
  
  <link href="/css/responsive.css" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="/css1/swiper-bundle.css">
  <link rel="stylesheet" href="/css/style.css"> -->
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

  <script src="/js/script.js" defer></script>
  <script src="/js1/swiper-bundle.min.js" defer></script>
  <script src="/js1/script.js" defer></script>

 
</head>
<body>
  <div class="hero_area">
    <%- include('./partials/navbar1.ejs') %>

    <!-- end header section -->
     
     <!--SLIDER section-->
     <div style="background-color: #32aeb1;">
     <h2 style="color: rgb(0, 0, 0);"><marquee><b>HealthNexus Online Pharmacy</b></marquee></h2>
     </div>
     <div class="main">
        <div id="slider">
            <figure>
              <img src="/images/1677605292_Web_Home_Bannersgdgsd.jpg"/>
              <img src="/images/1678990885_Healthvit_wellness_web.jpg"/>
              <img src="/images/1677605378_Web_Home_Bannersguguui.jpg"/>
              <img src="/images/1677684779_Web_Homekkkkkk.jpg"/>
              <img src="/images/slider4.png"/>
            </figure>
          </div>
        </div>
  </div>
 
     <!-- <div class="slidertop"></div> -->
<!-- discount section -->
  <section class="discount_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-5 offset-md-2">
          <div class="detail-box">
            <h2>
              You get <br>
              any medicine <br>
              on
              <span>
                10% discount
              </span>

            </h2>
            <p>
             click On Buy Now to contune shopping
            </p>
            <div>
              <a href="medicine">
                Buy Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-5">
          <div class="img-box">
            <img src="/images/download-removebg-preview-fotor-bg-remover-2023032022277.png">
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end discount section -->
  
  <!-- ----self section---- -->
  <br>
    <div class="self">
      <div class="self_section" style="padding: 40px; margin: 20px 40px;">

         <img src="https://www.pngfind.com/pngs/m/170-1707648_truck-fast-delivery-speed-svg-png-icon-free.png" style="height: 100px; margin-left: 150px;" >
         <br>
         <br>
         <h4>
           we assure safe and fastest delivery
        </h4>
      </div> 
      <div class="self_section" style="padding: 40px; margin: 20px 40px;">

        <img src="https://www.shutterstock.com/image-illustration/best-price-guarantee-label-icon-260nw-259618541.jpg" style="height: 100px; margin-left: 100px;" >
        <br>
        <br>
        <h4>
           On of the top selling site  
       </h4>
     </div> 
     <div class="self_section" style="padding: 40px;  margin:20px 40px">

      <img src="https://www.shutterstock.com/image-vector/medical-team-icon-260nw-689072647.jpg" style="height: 100px; margin-left: 110px;" >
      <br>
      <br>
      <h4>
        Consult Top doctors at free
     </h4>
   </div> 
    </div>
 <!-- ----end of self section---- -->
 <br>
 <br>
 <div class="lab">
    <div class="headsell1">
      <h1 style="color: #000;;"><marquee><b>LABTESTS</b></marquee></h1>
     <br>
       <div style="display: flex; justify-content:space-around;" >
        <a href="labtests" ><img src="/images/1581428021_Web_Landingabc_Banner.jpg" style="height: 50vh ; width: 80%;"></a>
        <a href="labtests" ><img src="/images/Banner-02-scaled.jpg" style="height: 50vh ; width: 80%;"></a>
       </div> 
   </div>
 </div>
<br>
<br>
 <div>
   <div class="headsell">
    <h1 style="color: rgb(3, 3, 3); padding : 20px 0 0 0"><marquee><b>LIMITED TIME DEALS -24HRS</b></marquee></h1>
  <div class="slide-contained swiper">
   <div class="slide-content" style="display: flex; width: 100%;">
    <%x.forEach((y)=>{%>
       <div class="card-wrapper swiper-wrapper" style="padding : 10px; display: flex;">
           <div class="card swiper-slide">
               <div class="image-content">
                   <span class="overlay"></span>
 
                   <div class="card-image">
                       <img src="<%=y.image%>" alt="" class="card-img">
                   </div>
               </div>
 
               <div class="card-content">
                   <h2 class="name"><%=y.name%></h2>
                   <p class="description"><b>₹<%=y.price1%></b></p>
                   <p class="description" style="color:red"><b>Get 75% off</b></p>
 
                   <button class="button">Add To Cart</button>
               </div>
               
           </div>
         </div>
         <% }) %>
   </div>
 
   <div class="swiper-button-next swiper-navBtn"></div>
   <div class="swiper-button-prev swiper-navBtn"></div>
   <div class="swiper-pagination"></div>
 </div>
 </div>
 </div>
<br>
<!-- Doctors section -->
<div class="doctor">
  <div class="headsell">
  <div>
    <h1><b>DOCTORS</b></h1>
  </div>
  <div class="offerout">
  <div class="offeron">
    <div class="doctorin">
      <img src="/images/d5.jpg" style="height: 200px; margin: 5px 40px;">
      <br>
      <br>
      <h5>Dr. M S Pushkala</h5>
      <br>
      <h6>Urologist, Robotic Surgeon | Urologist And Robotic Prostate Surgeon</h6>
    </div>
  </div>
  <div class="offeron">
    <div class="doctorin">
      <img src="/images/d4.jpg" style="height: 200px; margin: 5px 40px;">
      <br>
      <br>
      <h5>Dr. R kaladevi</h5>
      <br>
      <h6>Endocrinologists commonly treat diabetes, thyroid dysfunction, and reproductive health.</h6>
    </div>
  </div>
  <div class="offeron">
    <div class="doctorin">
      <img src="/images/d2.jpg" style="height: 200px; margin: 5px 40px;">
      <br>
      <br>
      <h5>Dr.M BhanuPriya</h5>
      <br>
      <h6>A neurologist focuses on the anatomy, functions, and disorders of the nerves and nervous systems</h6>
    </div>
  </div>
  <div class="offeron">
    <div class="doctorin">
      <img src="/images/d1.jpg" style="height: 200px; margin: 5px 40px;">
      <br>
      <br>
      <h5>Dr Vishal Rao</h5>
      <br>
      <h6>Allergist/Immunologists are trained to treat allergies and disease of the immune system, such as asthma. </h6>
    </div>
  </div>
</div>
  </div>
</div>
<!-- End of Doctors section -->
<br>
<br>
<!-- info section -->
<%- include('./partials/footer.ejs') %>


<!-- end info section -->

<!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2023 All Rights Reserved. Design by
      <a href="/">HealthNexus</a>
    </p>
  </section>
<!-- footer section -->

<script src="/js1/swiper-bundle.min.js"></script>

<!-- JavaScript -->
<script src="/js1/script.js"></script>
<script src="/js/cart.js"></script>
</body>

</html>