<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ProductInfo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <link href="/css/style.css" rel="stylesheet" />
  <link href="/css/responsive.css" rel="stylesheet" />
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

  <style>
    hr.new5 {
      border: 10px solid black;
      border-radius: 5px;
    }
  </style>
</head>

<body>
  <div class="hero_area">
    <%- include('./partials/navbar3.ejs') %>
      <%x.forEach((y)=>{%>
        <div style="display: flex;">
          <div style="margin: 20px 20px; height: 80vh;">
            <!-- display image -->
            <img src="<%=y.image%>" alt="" style="height: 75vh;">
          </div>

          <form action="/cart" method="get">
            <div style=" margin: 80px 100px 80px 100px; width: 80%;">
              <input type="hidden" name="name" value="<%=y.name%>">
              <!-- display Name -->
              <h2>
                <%=y.name%>
              </h2>
              <p>
                Dosage and Administration: The recommended dosage for Tablets is one or two tablets every<br>four to six
                hours, as needed for pain relief. <br>
                Do not exceed eight tablets in 24 hours. Tablets should be taken with a full glass of water and can be
                taken with or without food.<br>

                Warnings and Precautions: Do not take Tablets if you are allergic to Acetaminophen or any of the
                inactive ingredients.
                Do not take more than the recommended dosage, as this may cause liver damage. If you are pregnant,
                nursing, or have a liver or kidney disease, consult your doctor before taking Tablets. Keep out of reach
                of children.

                Side Effects: The most common side effects of Tablets include nausea, vomiting, stomach pain, and
                dizziness. If you experience any unusual symptoms, stop taking the medication and seek medical
                attention.
              </p>
              <input type="hidden" name="price" value="<%=y.price1%>">
              <h3> Price:₹<%=y.price1%>
              </h3>
              <h5><del>
                  <%=y.price2%>
                </del></h5>
              <br>
              <p>&#9733 &#9733 &#9733 &#9733 </p>
              <input type="hidden" name="token" value="" class="authTokenInput">
              <!-- <button class="card-btn" style="padding: 3px 50px; background-color: aqua;">Add to cart</button> -->
              <button type="submit" class="card-btn" style="padding: 3px 50px; background-color: aqua;">Add to
                Cart</button>
            </div>
          </form>

        </div>
        <hr class="new5">
        <% }) %>


  </div>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const authToken = localStorage.getItem("authToken");
      const authTokenInputs = document.querySelectorAll(".authTokenInput");
      authTokenInputs.forEach(input => {
        input.value = authToken;
      });
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $(".add-to-cart-link").on("click", function (e) {
        e.preventDefault();

        var link = $(this);
        var formData = link.data("form-data");

        $.ajax({
          url: "/cart",
          method: "GET",
          data: formData,
          success: function (response) {
            alert("Item added to cart");
          },

          error: function (err) {
            console.log(err);
          }
        });
      });
    });
  </script>
</body>

</html>


</body>

</html>